
.leftSide {
  flex: 0 0 48%; 
  max-width: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%; 
  height: 100vh;
  margin: 1rem; 
  box-sizing: border-box;
  min-width: 300px; 
}


.imageWrapper {
  position: relative;
  width: 100%;
  height: 800px;
}

.textOverlay {
  position: absolute;
  top: 108px;
  left: 20px;
  right: 20px;
  bottom: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  
}

.topText h2,
.bottomText h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  font-weight: 700;
  color: #EDEEF6;
  letter-spacing: 0.5px;
}

.topText h4,
.bottomText h4 {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  color: #EDEEF6;
}

.indicators {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.active {
  width: 24px;
  height: 8px;
  border-radius: 10px;
  background-color: #EDEEF6;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #EDEEF6;
}
